:root {
  --transition-speed: 0.12s;
  --canv-x: 1024px;
  --canv-y: 1024px;
  --canv-offset: 0;

  /* cattpuccin mocha */
  --ctp-crust: #11111b;
  --ctp-mantle: #181825;
  --ctp-base: #1e1e2e;
  --ctp-surface0: #313244;
  --ctp-surface1: #45475a;
  --ctp-surface2: #585b70;
  --ctp-overlay0: #6c7086;
  --ctp-overlay1: #7f849c;
  --ctp-overlay2: #9399b2;
  --ctp-subtext0: #a6adc8;
  --ctp-subtext1: #bac2de;
  --ctp-text: #cdd6f4;
  --ctp-lavender: #b4befe;
  --ctp-blue: #89b4fa;
  --ctp-sapphire: #74c7ec;
  --ctp-sky: #89dceb;
  --ctp-teal: #94e2d5;
  --ctp-green: #a6e3a1;
  --ctp-yellow: #f9e2af;
  --ctp-peach: #fab387;
  --ctp-maroon: #eba0ac;
  --ctp-red: #f38ba8;
  --ctp-mauve: #cba6f7;
  --ctp-pink: #f5c2e7;
  --ctp-flamingo: #f2cdcd;
  --ctp-rosewater: #f5e0dc;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--ctp-text);
  background-color: var(--ctp-base);

  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

img {
  /* display: block; */
  margin: 1rem;
  border-radius: 12px;
  margin: 1.2rem 2rem 1.2rem 0;
  border-style: solid;
  border-color: var(--ctp-crust);
  mix-blend-mode: multiply;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html[data-theme="latte"] body {
  background-color: var(--ctp-surface0);
}

button {
  background-color: transparent;
  border-style: none;
  position: absolute;
  inset: 0;
  margin: auto;
  cursor: pointer;
}

svg {
  pointer-events: none;
}

button + svg {
  margin: auto;
}

h2 {
  padding: 0.8rem 0 0 0;
}

p {
  margin-top: 0.8em;
}

#resources a {
  background-color: var(--ctp-surface1);
  color: var(--ctp-text);
  text-decoration: none;
  text-align: center;
  padding: 0.6rem;
  margin: 0.6rem auto 0.6rem auto;
  border-style: solid;
  border-radius: 10px;
  border-color: var(--ctp-base);
  display: block;
  transition: all 0.1s;
}

#resources a:hover {
  box-shadow: 0 0 1rem 0 var(--ctp-sapphire);
}

nav {
  position: fixed;
  bottom: 2em;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

video {
  display: block;
  margin: 2rem auto 1rem auto;
  width: auto;
  height: auto;
  max-width: 100%;
  box-shadow: 0 0 10px 2px var(--ctp-sapphire);
}

section {
  position: relative;
  scroll-snap-align: start;
  height: 100vh;
}

label {
  font-size: 1em;
  color: var(--ctp-text);
  font-weight: 500;
}

input[type="range"] {
  appearance: none;
  border-radius: 5em;
  background-color: var(--ctp-base);
  border-style: solid;
  border-width: 2px;
  border-color: var(--ctp-crust);
  /* box-shadow: inset 0px 0px 8px 0px var(--ctp-crust); */
  cursor: pointer;
  transition: all var(--transition-speed) ease-in-out;
  height: 0.3em;
  overflow: hidden;
}

html[data-theme="latte"] input[type="range"] {
  background-color: var(--ctp-surface0);
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 0.2em;
  box-shadow: -200px 0 0 200px var(--ctp-peach);
  cursor: pointer;
  transition: all var(--transition-speed) ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  width: 0.2em;
  box-shadow: -200px 0 0 200px var(--ctp-peach);
  cursor: pointer;
  transition: all var(--transition-speed) ease-in-out;
}

.vertical-grid {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(3, 100vh);
  align-items: center;
  justify-content: center;
}

.menu-button {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.menu-button:focus {
  outline: 0.1rem;
  outline-style: solid;
  outline-color: var(--ctp-sapphire);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

.heading {
  text-align: center;
  text-shadow: 0px 0px 8px var(--ctp-base);
  font-size: 4em;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  align-items: center;
}

.panel {
  background-color: var(--ctp-surface0);
  text-align: center;
  border-radius: 0.6em;
}

html[data-theme="latte"] .panel {
  background-color: var(--ctp-base);
}

.menu {
  position: sticky;
  padding: 1.1em;
}

.menu-top {
  grid-row: 1;
  grid-column: 2;
}

.menu-right {
  width: 12em;
  inset: 0 2em 0 0;
  grid-row: 2;
  grid-column: 3;
}

.menu-icon {
  width: 3em;
  height: 3em;
  fill: var(--ctp-peach);
  transition: all var(--transition-speed) ease-in-out;
}

.tool-setting-icon {
  width: 2em;
  height: 2em;
  fill: var(--ctp-peach);
  vertical-align: middle;
  margin: 0.2em auto 0.2em auto;
  transition: all var(--transition-speed) ease-in-out;
}

.button-bar {
  display: flex;
  justify-content: space-evenly;
  border-style: none none solid none;
  border-color: var(--ctp-mantle);
  margin: auto auto 1.1em auto;
  padding: 0.2em;
}

.button-spacer {
  padding: 0.2em;
}

.tool-button-radio {
  appearance: none;
  margin: 0;
  grid-column: 1;
  grid-row: 1;
  height: 3.8em;
  width: 3.8em;
  cursor: pointer;

  display: block;

  background-color: var(--ctp-crust);
  -webkit-mask-image: var(--img);
  mask-image: var(--img);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  mask-position: 50% 50%;

  transition: all var(--transition-speed) ease-in-out;
}

.tool-button-radio:focus {
  background-color: var(--ctp-sapphire);
}

html[data-theme="latte"] .tool-button-radio {
  background-color: var(--ctp-surface0);
}

.tool-button-radio:checked {
  background-color: var(--ctp-peach);
}

.tool-button-radio:hover {
  background-color: var(--ctp-sapphire);
}

html[data-theme="latte"] .tool-button-radio:checked {
  background-color: var(--ctp-peach);
}

html[data-theme="latte"] .tool-button-radio:hover {
  background-color: var(--ctp-sapphire);
}

.hover-section {
  position: relative;
}

.tooltip-text {
  opacity: 0;
  font-size: 1.2em;
  position: absolute;
  background-color: var(--ctp-crust);
  color: var(--ctp-sapphire);
  text-align: center;
  padding: 0.7em;
  border-radius: 0.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all var(--transition-speed) ease-in-out;
  pointer-events: none;
}

.tooltip-text-above {
  top: 0;
  transform: translate(-50%, -100%);
}

.tooltip-text-below {
  transform: translate(-50%, 1em);
}

.tooltip-text-left {
  left: 0;
  transform: translate(-100%, -50%);
}

.tooltip-text-right {
  right: 0;
  transform: translate(100%, -50%);
}

div:hover > .tooltip-text {
  opacity: 1;
  transition: all var(--transition-speed) 0.75s ease-in-out;
}

.hover-section:hover > input[type="range"]::-webkit-slider-thumb {
  box-shadow: -200px 0 0 200px var(--ctp-sapphire);
}

.hover-section:hover > input[type="range"]::-moz-range-thumb {
  box-shadow: -200px 0 0 200px var(--ctp-sapphire);
}

.hover-section:hover > .tool-setting-icon,
.hover-section:hover > .menu-icon {
  fill: var(--ctp-sapphire);
}

.menu-button:active + .menu-icon,
.menu-button:active + .tool-setting-icon {
  fill: var(--ctp-crust);
  transition: all 0.02s;
}

.color-wrapper {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: var(--ctp-peach);
  border-width: 0.2em;
  margin: auto;
  transition: all var(--transition-speed) ease-in-out;
  box-shadow: inset 0 0 10px 2px var(--ctp-crust);
}

.color-wrapper:hover {
  border-color: var(--ctp-sapphire);
}

.color-pick {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  cursor: pointer;
}

.color-pick:focus + .color-pick-shadow {
  box-shadow: inset 0 0 25px 6px var(--ctp-sapphire);
}

.color-pick-shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 25px 6px var(--ctp-crust);
  pointer-events: none;
}

html[data-theme="latte"] .color-pick-shadow {
  box-shadow: inset 0 0 20px 6px var(--ctp-text);
}

.section-wrapper {
  margin: 2rem auto 2rem 5rem;
  padding: 2em;
  padding-top: 0.8em;
  max-width: 60%;
  height: fit-content;
  background-color: var(--ctp-surface0);
  box-shadow: 3px 3px 1em 0 var(--ctp-crust);
}

.slices-wrapper {
  min-height: calc(256px + 2em + 1.2rem + 1.2rem);
}

html[data-theme="latte"] .section-wrapper {
  background-color: var(--ctp-base);
  box-shadow: 3px 3px 1em 0 var(--ctp-text);
}

.sub-section-panel {
  display: inline-grid;
  border-radius: 0.4rem;
  background-color: var(--ctp-base);
  padding: 1rem;
  margin: 1rem;
}

.settings-columns {
  margin-top: 0.4rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 0.5rem;
}

.scaling-canv {
  position: fixed;
  margin: auto;
  --upper: calc(50% - (var(--canv-x) * 0.5));
  --lower: 10%;
  --w-lower: 30%;
  aspect-ratio: 1 / 1;

  opacity: max(0, 2 - var(--canv-offset));
  left: calc(
    (1 - min(1, var(--canv-offset))) * var(--upper) + min(1, var(--canv-offset)) *
      var(--lower)
  );
  width: calc(
    (1 - min(1, var(--canv-offset))) * var(--canv-x) +
      min(1, var(--canv-offset)) * var(--w-lower)
  );
}

.settings-both-sections {
  position: absolute;
  inset: 0;
  margin: auto auto auto 40%;
  width: 70%;
  height: fit-content;
}

#canv {
  background-color: black;
}

#canv-placeholder {
  width: var(--canv-x);
  height: var(--canv-y);
  grid-column: 2;
  grid-column: 2;
}

#canv-error {
  display: block;
  position: absolute;
  margin: auto;
  inset: 0;
  width: fit-content;
  max-width: 400px;
  height: fit-content;
  font-size: 20pt;
  text-align: center;
}

#canv-overlay {
  box-shadow: inset -0px 0px 20px 20px var(--ctp-base);
  pointer-events: none;
}

html[data-theme="latte"] #canv-overlay {
  box-shadow: inset -0px 0px 20px 20px var(--ctp-surface0);
}

#slice-canvas {
  float: left;
  border-radius: 12px;
  margin: 1.2rem 2rem 1.2rem 0;
  border-style: solid;
  border-color: var(--ctp-crust);
}

#resources > .section-wrapper {
  margin: auto;
  position: absolute;
  inset: 0;
  max-width: 600px;
  /* height: 80%;
  width: auto; */
}

#settings {
  position: relative;
  height: 100%;
}
